.restaurantCard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem auto;
  width: 80%;
  align-items: center;
}

.restaurantInfo {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  flex-direction: column;
  width: 50%;
  text-align: left;
}

.restaurant-name {
  font-weight: bold;
}

.restaurantPhoto {
  aspect-ratio: 3 / 2;
  width: 50%;
  object-fit: cover;
  border-radius: 1rem;
}

.spinner {
  margin-top: 5rem;
}
