.restaurantPhoto {
  /* width: 50%;
  min-width: 300px;
  max-width: 720px; */
  aspect-ratio: 3 / 2;
  width: 720px;
  object-fit: cover;
  border-radius: 1rem;
}

#restaurant-name {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--imperial-red);
}