/* Custom Colours */
:root {
  --mint-green: #EFF6EE;
  --cool-grey: #9197AE;
  --prussian-blue: #273043;
  --bittersweet-shimmer: #BF4342;
  --imperial-red: #F02D3A;
}

/* Main HTML/Semantic (Section) Elements */
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

main {
  padding: 3rem;
}

section {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  color: var(--imperial-red);
}

h2 {
  font-size: 3rem;
  margin: 1rem 0rem 0rem 0rem;
}

p {
  margin: 0;
  padding: 0;
}

/* Classes */
.app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--mint-green);
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5rem;
  color: var(--prussian-blue);
  /* text-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.75); */
  text-decoration: none;
  text-align: center;
  z-index: 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.shadow {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
}

.downarrow {
  position: absolute;
  width: 3rem;
  height: auto;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.filter {
  margin: 1.25rem;
}

.radioButton {
  margin: 0.5rem 10rem;
  font-size: 1.2rem;
}

.refresh {
  margin: 4rem auto;
  width: 3rem;
  bottom: 2rem;
}

.choices {
  width: 60%;
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}

/* IDs */
#home {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/home.jpeg");
  background-size: cover;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

#filters {
  text-align: left;
}

#start {
  font-size: 2rem;
  color: var(--bittersweet-shimmer);
  text-decoration: none;
}

/* #app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
